// Color Palettes

@import './variables';
@import './mixins';

@each $color in $bm-theme-colors {
    .bm-theme--#{$color}-bg {
      @include bm-theme-prop(background-color, $color);
    }
}

@each $key,$value in map-keys($bm-theme-colors) {
    @each $shade in map-keys($bm-theme-shades) {
        --bm-color_#{$key}_#{shade}: shade($value, (1000-$shade)*0.1);
    }
    --bm-color_#{$key}_500: $value;
    @each $tint in map-keys($bm-theme-tints) {
        --bm-color_#{$key}_#{tint}:  tint($value, $shade*0.1);
    }
    @each $a in map-keys($bm-theme-a) {
        --bm-color_#{$key}_#{a}: $value;
    }
}


// Wheat Palette
$bm-color-wheat-100: #FBF8C5;
$bm-color-wheat-200: #F9F6AE;
$bm-color-wheat-400: #F8F397;
$bm-color-wheat-500: #f7f180;
$bm-color-wheat-600: #CBC669;
$bm-color-wheat-800: #9E9A52;
$bm-color-wheat-900: #716E3B;
$bm-color-wheat-a100: #ff8a80;
$bm-color-wheat-a200: #ff5252;
$bm-color-wheat-a400: #ff1744;
$bm-color-wheat-a700: #d50000;

// Pale Ale Palette
$bm-color-pale-100: #DCC77C;
$bm-color-pale-200: #D7BF69;
$bm-color-pale-400: #CDAF44;
$bm-color-pale-500: #C9A732;
$bm-color-pale-600: #B7982E;
$bm-color-pale-800: #A58929;
$bm-color-pale-900: #937A25;
$bm-color-pale-a100: #ff8a80;
$bm-color-pale-a200: #ff5252;
$bm-color-pale-a400: #ff1744;
$bm-color-pale-a700: #d50000;

// Amber Palette
$bm-color-amber-100: #B97367;
$bm-color-amber-200: #AF5F51;
$bm-color-amber-400: #9B3726;
$bm-color-amber-500: #912411;
$bm-color-amber-600: #842110;
$bm-color-amber-800: #6A1B0D;
$bm-color-amber-900: #5D170B;
$bm-color-amber-a100: #F7F9EB;
$bm-color-amber-a200: #BBCA50;
$bm-color-amber-a400: #5F6917;
$bm-color-amber-a700: #101204;

// Brown Ale Palette
$bm-color-brown-100: #BBA593;
$bm-color-brown-200: #A08168;
$bm-color-brown-400: #855D3D;
$bm-color-brown-500: #6b3912;
$bm-color-brown-600: #582F0F;
$bm-color-brown-800: #45250C;
$bm-color-brown-900: #311A09;
$bm-color-brown-a100: #ff8a80;
$bm-color-brown-a200: #ff5252;
$bm-color-brown-a400: #ff1744;
$bm-color-brown-a700: #d50000;

// Porter Palette
$bm-color-porter-100: #A0968B;
$bm-color-porter-200: #7B6C5C;
$bm-color-porter-400: #55422E;
$bm-color-porter-500: #301800;
$bm-color-porter-600: #281400;
$bm-color-porter-800: #1F1000;
$bm-color-porter-900: #160B00;
$bm-color-porter-a100: #ff8a80;
$bm-color-porter-a200: #ff5252;
$bm-color-porter-a400: #ff1744;
$bm-color-porter-a700: #d50000;

// SRM Palette
$bm-color-srm-1: #f0efb5;
$bm-color-srm-2: #f7f77f;
$bm-color-srm-3: #f6f513;
$bm-color-srm-4: #ece61a;
$bm-color-srm-5: #e0d01b;
$bm-color-srm-6: #d5bc26;
$bm-color-srm-7: #c9a732;
$bm-color-srm-8: #bf923b;
$bm-color-srm-9: #be8c3a;
$bm-color-srm-10: #bf813a;
$bm-color-srm-11: #be7c37;
$bm-color-srm-12: #bf7138;
$bm-color-srm-13: #bc6733;
$bm-color-srm-14: #b26033;
$bm-color-srm-15: #a55936;
$bm-color-srm-16: #985336;
$bm-color-srm-17: #8d4c32;
$bm-color-srm-18: #7c452d;
$bm-color-srm-19: #6b3a1e;
$bm-color-srm-20: #5d341a;
$bm-color-srm-21: #4e2a0c;
$bm-color-srm-22: #4a2727;
$bm-color-srm-23: #361f1b;
$bm-color-srm-24: #261716;
$bm-color-srm-25: #261716;
$bm-color-srm-26: #19140f;
$bm-color-srm-27: #19130f;
$bm-color-srm-28: #120f0c;
$bm-color-srm-29: #100b0a;
$bm-color-srm-30: #100b0a;
$bm-color-srm-31: #0e0908;
$bm-color-srm-32: #0f0b08;
$bm-color-srm-33: #0c0907;
$bm-color-srm-34: #080707;
$bm-color-srm-35: #080707;
$bm-color-srm-36: #070606;
$bm-color-srm-37: #040504;
$bm-color-srm-38: #040504;
$bm-color-srm-39: #030403;
$bm-color-srm-40: #030403;

// Steel Palette
$bm-color-steel-100: #DEE1E3;
$bm-color-steel-200: #DBDEE1;
$bm-color-steel-400: #C8CACD;
$bm-color-steel-500: #B4B6B9;
$bm-color-steel-600: #A0A2A4;
$bm-color-steel-800: #8C8E90;
$bm-color-steel-900: #787A7B;
$bm-color-steel-a100: #ff8a80;
$bm-color-steel-a200: #ff5252;
$bm-color-steel-a400: #ff1744;
$bm-color-steel-a700: #d50000;

// Hops Palette
$bm-color-hops-100: #ADBF2A;
$bm-color-hops-200: #74801C;
$bm-color-hops-400: #687319;
$bm-color-hops-500: #515913;
$bm-color-hops-600: #484D28;
$bm-color-hops-800: #2E330B;
$bm-color-hops-900: #2E330B;
$bm-color-hops-a100: #B9E198;
$bm-color-hops-a300: #B8DE75;
$bm-color-hops-a500: #66AD4D;
$bm-color-hops-a700: #6C8A37;
$bm-color-hops-a900: #163F07;