// Color Palettes

@import './variables';
@import './mixins';
@import './functions';

@each $color, $value in $bm-theme-colors {
    .bm-theme--#{$color}-bg {
      @include bm-theme-prop(background-color, $value);
    }
}

:root{
    @each $color in map-keys($bm-theme-colors) {
        @each $tint in map-keys($bm-theme-tints) {
            @include bm-theme-prop(
                --bm-color_#{$color}_#{$tint}, 
                tint(map-get($bm-theme-colors, $color), (500-$tint)/10)
            );
        }
        @include bm-theme-prop(
            --bm-color_#{$color}_500, 
            map-get($bm-theme-colors, $color)
        );
        @each $shade in map-keys($bm-theme-shades) {
            @include bm-theme-prop(
                --bm-color_#{$color}_#{$shade}, 
                shade(map-get($bm-theme-colors, $color), ($shade - 500)/10)
            );
        }
    }
}

// SRM Palette
$bm-color-srm-1: #f0efb5;
$bm-color-srm-2: #f7f77f;
$bm-color-srm-3: #f6f513;
$bm-color-srm-4: #ece61a;
$bm-color-srm-5: #e0d01b;
$bm-color-srm-6: #d5bc26;
$bm-color-srm-7: #c9a732;
$bm-color-srm-8: #bf923b;
$bm-color-srm-9: #be8c3a;
$bm-color-srm-10: #bf813a;
$bm-color-srm-11: #be7c37;
$bm-color-srm-12: #bf7138;
$bm-color-srm-13: #bc6733;
$bm-color-srm-14: #b26033;
$bm-color-srm-15: #a55936;
$bm-color-srm-16: #985336;
$bm-color-srm-17: #8d4c32;
$bm-color-srm-18: #7c452d;
$bm-color-srm-19: #6b3a1e;
$bm-color-srm-20: #5d341a;
$bm-color-srm-21: #4e2a0c;
$bm-color-srm-22: #4a2727;
$bm-color-srm-23: #361f1b;
$bm-color-srm-24: #261716;
$bm-color-srm-25: #261716;
$bm-color-srm-26: #19140f;
$bm-color-srm-27: #19130f;
$bm-color-srm-28: #120f0c;
$bm-color-srm-29: #100b0a;
$bm-color-srm-30: #100b0a;
$bm-color-srm-31: #0e0908;
$bm-color-srm-32: #0f0b08;
$bm-color-srm-33: #0c0907;
$bm-color-srm-34: #080707;
$bm-color-srm-35: #080707;
$bm-color-srm-36: #070606;
$bm-color-srm-37: #040504;
$bm-color-srm-38: #040504;
$bm-color-srm-39: #030403;
$bm-color-srm-40: #030403;