
// B&W Color
$bm-theme-black: #020202;
$bm-theme-white: #F2F2F2;

$bm-theme-tints: (100: '100', 200: '200', 300: '300', 400: '400');
$bm-theme-shades: (600: '600', 700: '700', 800: '800', 900: '900');
$bm-theme-a: (a100: 'a100', a300: 'a300', a500: 'a500', a700: 'a700', a900: 'a900');

$bm-theme-colors: (
    wheat: #F7F180,
    pale: #C9A732,
    amber: #912411,
    brown: #6B3912,
    porter: #301800,
    steel: #B4B6B9,
    hops: #515913
) !default;

$bm-theme-text-colors: (
    dark: (
      primary: ($bm-theme-black, 90%),
      secondary: lighten($bm-theme-black, 60%),
      hint: lighten($bm-theme-black, 35%),
      disabled: lighten($bm-theme-black, 25%),
      icon: lighten($bm-theme-black, 35%)
    ),
    light: (
      primary: $bm-theme-white,
      secondary: darken($bm-theme-white, 70%),
      hint: darken($bm-theme-white, 25%),
      disabled: darken($bm-theme-white, 50%),
      icon: darken($bm-theme-white, 25%)
    )
) !default;

